/*
 * Splitting.js Right to Left support!
 *   For Persian/Arabic Characters,
 *   Characters Final, Medial and Initial Position in word.
 *
 * Author: Mahyar Sabeti
 * Homepage: https://www.drupal.org/u/mahyarsbt
 */
[dir="rtl"] .splitting .char::before,
[dir="rtl"] .splitting .char::after {
  position: relative;
  width: 0px;
  font-size: 1px;
  letter-spacing: -1px;
  block-size: 0px;
}
[dir="rtl"] .splitting span.char[data-char="آ"]::before,
[dir="rtl"] .splitting span.char[data-char="آ"]::after,
[dir="rtl"] .splitting span.char[data-char="ا"]::before,
[dir="rtl"] .splitting span.char[data-char="ا"]::after,
[dir="rtl"] .splitting span.char[data-char="ب"]::before,
[dir="rtl"] .splitting span.char[data-char="ب"]::after,
[dir="rtl"] .splitting span.char[data-char="پ"]::before,
[dir="rtl"] .splitting span.char[data-char="پ"]::after,
[dir="rtl"] .splitting span.char[data-char="ت"]::before,
[dir="rtl"] .splitting span.char[data-char="ت"]::after,
[dir="rtl"] .splitting span.char[data-char="ث"]::before,
[dir="rtl"] .splitting span.char[data-char="ث"]::after,
[dir="rtl"] .splitting span.char[data-char="ج"]::before,
[dir="rtl"] .splitting span.char[data-char="ج"]::after,
[dir="rtl"] .splitting span.char[data-char="چ"]::before,
[dir="rtl"] .splitting span.char[data-char="چ"]::after,
[dir="rtl"] .splitting span.char[data-char="ح"]::before,
[dir="rtl"] .splitting span.char[data-char="ح"]::after,
[dir="rtl"] .splitting span.char[data-char="خ"]::before,
[dir="rtl"] .splitting span.char[data-char="خ"]::after,
[dir="rtl"] .splitting span.char[data-char="د"]::before,
[dir="rtl"] .splitting span.char[data-char="د"]::after,
[dir="rtl"] .splitting span.char[data-char="ذ"]::before,
[dir="rtl"] .splitting span.char[data-char="ذ"]::after,
[dir="rtl"] .splitting span.char[data-char="ر"]::before,
[dir="rtl"] .splitting span.char[data-char="ر"]::after,
[dir="rtl"] .splitting span.char[data-char="ز"]::before,
[dir="rtl"] .splitting span.char[data-char="ز"]::after,
[dir="rtl"] .splitting span.char[data-char="ژ"]::before,
[dir="rtl"] .splitting span.char[data-char="ژ"]::after,
[dir="rtl"] .splitting span.char[data-char="س"]::before,
[dir="rtl"] .splitting span.char[data-char="س"]::after,
[dir="rtl"] .splitting span.char[data-char="ش"]::before,
[dir="rtl"] .splitting span.char[data-char="ش"]::after,
[dir="rtl"] .splitting span.char[data-char="ص"]::before,
[dir="rtl"] .splitting span.char[data-char="ص"]::after,
[dir="rtl"] .splitting span.char[data-char="ض"]::before,
[dir="rtl"] .splitting span.char[data-char="ض"]::after,
[dir="rtl"] .splitting span.char[data-char="ط"]::before,
[dir="rtl"] .splitting span.char[data-char="ط"]::after,
[dir="rtl"] .splitting span.char[data-char="ظ"]::before,
[dir="rtl"] .splitting span.char[data-char="ظ"]::after,
[dir="rtl"] .splitting span.char[data-char="ع"]::before,
[dir="rtl"] .splitting span.char[data-char="ع"]::after,
[dir="rtl"] .splitting span.char[data-char="غ"]::before,
[dir="rtl"] .splitting span.char[data-char="غ"]::after,
[dir="rtl"] .splitting span.char[data-char="ف"]::before,
[dir="rtl"] .splitting span.char[data-char="ف"]::after,
[dir="rtl"] .splitting span.char[data-char="ق"]::before,
[dir="rtl"] .splitting span.char[data-char="ق"]::after,
[dir="rtl"] .splitting span.char[data-char="ک"]::before,
[dir="rtl"] .splitting span.char[data-char="ک"]::after,
[dir="rtl"] .splitting span.char[data-char="گ"]::before,
[dir="rtl"] .splitting span.char[data-char="گ"]::after,
[dir="rtl"] .splitting span.char[data-char="ل"]::before,
[dir="rtl"] .splitting span.char[data-char="ل"]::after,
[dir="rtl"] .splitting span.char[data-char="م"]::before,
[dir="rtl"] .splitting span.char[data-char="م"]::after,
[dir="rtl"] .splitting span.char[data-char="ن"]::before,
[dir="rtl"] .splitting span.char[data-char="ن"]::after,
[dir="rtl"] .splitting span.char[data-char="و"]::before,
[dir="rtl"] .splitting span.char[data-char="و"]::after,
[dir="rtl"] .splitting span.char[data-char="ه"]::before,
[dir="rtl"] .splitting span.char[data-char="ه"]::after,
[dir="rtl"] .splitting span.char[data-char="ی"]::before,
[dir="rtl"] .splitting span.char[data-char="ی"]::after,
[dir="rtl"] .splitting span.char[data-char="َ"] + span.char[data-char="إ"]::before,
[dir="rtl"] .splitting span.char[data-char="َ"] + span.char[data-char="أ"]::before,
[dir="rtl"] .splitting span.char[data-char="ُ"] + span.char[data-char="إ"]::before,
[dir="rtl"] .splitting span.char[data-char="ُ"] + span.char[data-char="أ"]::before,
[dir="rtl"] .splitting span.char[data-char="ِ"] + span.char[data-char="إ"]::before,
[dir="rtl"] .splitting span.char[data-char="ِ"] + span.char[data-char="أ"]::before,
[dir="rtl"] .splitting span.char[data-char="ْ"] + span.char[data-char="إ"]::before,
[dir="rtl"] .splitting span.char[data-char="ْ"] + span.char[data-char="أ"]::before {
  content: "ـ";
}
[dir="rtl"] .splitting span.char:first-child::before,
[dir="rtl"] .splitting span.char:last-child::after,
[dir="rtl"] .splitting span.char[data-char="آ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ا"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="أ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="إ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="د"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ذ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ر"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ز"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ژ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="و"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ا"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="أ"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="إ"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="د"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ذ"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ر"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ز"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ژ"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="و"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ا"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="أ"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="إ"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="د"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ذ"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ر"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ز"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ژ"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="و"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ا"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="أ"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="إ"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="د"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ذ"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ر"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ز"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ژ"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="و"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ا"] + span.char[data-char="ّ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="أ"] + span.char[data-char="ّ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="إ"] + span.char[data-char="ّ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="د"] + span.char[data-char="ّ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ذ"] + span.char[data-char="ّ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ر"] + span.char[data-char="ّ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ز"] + span.char[data-char="ّ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ژ"] + span.char[data-char="ّ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="و"] + span.char[data-char="ّ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ا"] + span.char[data-char="ّ"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="أ"] + span.char[data-char="ّ"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="إ"] + span.char[data-char="ّ"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="د"] + span.char[data-char="ّ"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ذ"] + span.char[data-char="ّ"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ر"] + span.char[data-char="ّ"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ز"] + span.char[data-char="ّ"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ژ"] + span.char[data-char="ّ"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="و"] + span.char[data-char="ّ"] + span.char[data-char="َ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ا"] + span.char[data-char="ّ"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="أ"] + span.char[data-char="ّ"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="إ"] + span.char[data-char="ّ"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="د"] + span.char[data-char="ّ"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ذ"] + span.char[data-char="ّ"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ر"] + span.char[data-char="ّ"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ز"] + span.char[data-char="ّ"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ژ"] + span.char[data-char="ّ"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="و"] + span.char[data-char="ّ"] + span.char[data-char="ُ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ا"] + span.char[data-char="ّ"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="أ"] + span.char[data-char="ّ"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="إ"] + span.char[data-char="ّ"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="د"] + span.char[data-char="ّ"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ذ"] + span.char[data-char="ّ"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ر"] + span.char[data-char="ّ"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ز"] + span.char[data-char="ّ"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ژ"] + span.char[data-char="ّ"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="و"] + span.char[data-char="ّ"] + span.char[data-char="ِ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ا"] + span.char[data-char="ّ"] + span.char[data-char="ً"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="أ"] + span.char[data-char="ّ"] + span.char[data-char="ً"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="إ"] + span.char[data-char="ّ"] + span.char[data-char="ً"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="د"] + span.char[data-char="ّ"] + span.char[data-char="ً"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ذ"] + span.char[data-char="ّ"] + span.char[data-char="ً"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ر"] + span.char[data-char="ّ"] + span.char[data-char="ً"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ز"] + span.char[data-char="ّ"] + span.char[data-char="ً"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ژ"] + span.char[data-char="ّ"] + span.char[data-char="ً"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="و"] + span.char[data-char="ّ"] + span.char[data-char="ً"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ا"] + span.char[data-char="ّ"] + span.char[data-char="ٌ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="أ"] + span.char[data-char="ّ"] + span.char[data-char="ٌ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="إ"] + span.char[data-char="ّ"] + span.char[data-char="ٌ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="د"] + span.char[data-char="ّ"] + span.char[data-char="ٌ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ذ"] + span.char[data-char="ّ"] + span.char[data-char="ٌ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ر"] + span.char[data-char="ّ"] + span.char[data-char="ٌ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ز"] + span.char[data-char="ّ"] + span.char[data-char="ٌ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ژ"] + span.char[data-char="ّ"] + span.char[data-char="ٌ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="و"] + span.char[data-char="ّ"] + span.char[data-char="ٌ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ا"] + span.char[data-char="ّ"] + span.char[data-char="ٍ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="أ"] + span.char[data-char="ّ"] + span.char[data-char="ٍ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="إ"] + span.char[data-char="ّ"] + span.char[data-char="ٍ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="د"] + span.char[data-char="ّ"] + span.char[data-char="ٍ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ذ"] + span.char[data-char="ّ"] + span.char[data-char="ٍ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ر"] + span.char[data-char="ّ"] + span.char[data-char="ٍ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ز"] + span.char[data-char="ّ"] + span.char[data-char="ٍ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ژ"] + span.char[data-char="ّ"] + span.char[data-char="ٍ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="و"] + span.char[data-char="ّ"] + span.char[data-char="ٍ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ا"] + span.char[data-char="ّ"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="أ"] + span.char[data-char="ّ"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="إ"] + span.char[data-char="ّ"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="د"] + span.char[data-char="ّ"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ذ"] + span.char[data-char="ّ"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ر"] + span.char[data-char="ّ"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ز"] + span.char[data-char="ّ"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ژ"] + span.char[data-char="ّ"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="و"] + span.char[data-char="ّ"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ا"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="أ"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="إ"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="د"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ذ"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ر"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ز"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="ژ"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.char[data-char="و"] + span.char[data-char="ْ"] + .char::before,
[dir="rtl"] .splitting span.word[data-word$="َ"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$="ُ"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$="ِ"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$="ّ"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$=""] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$="ً"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$="ٌ"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$="ٍ"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$=""] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$="ٔ"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$="،"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$="؛"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$=","] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$=";"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$=":"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$="!"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$="؟"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$="?"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word$="»"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word^="«"] .char:nth-child(2)::before,
[dir="rtl"] .splitting span.word[data-word$="›"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word^="‹"] .char:nth-child(2)::before,
[dir="rtl"] .splitting span.word[data-word$=">"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word^="<"] .char:nth-child(2)::before,
[dir="rtl"] .splitting span.word[data-word$=")"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word^="("] .char:nth-child(2)::before,
[dir="rtl"] .splitting span.word[data-word$="]"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word^="["] .char:nth-child(2)::before,
[dir="rtl"] .splitting span.word[data-word$="}"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word^="{"] .char:nth-child(2)::before,
[dir="rtl"] .splitting span.word[data-word$='"'] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word^='"'] .char:nth-child(2)::before,
[dir="rtl"] .splitting span.word[data-word$="'"] .char:nth-last-child(2)::after,
[dir="rtl"] .splitting span.word[data-word^="'"] .char:nth-child(2)::before,
[dir="rtl"] .splitting span.word[data-word$="َّ"] .char:nth-last-child(3)::after,
[dir="rtl"] .splitting span.word[data-word$="ِّ"] .char:nth-last-child(3)::after,
[dir="rtl"] .splitting span.word[data-word$="ُّ"] .char:nth-last-child(3)::after,
[dir="rtl"] .splitting span.char[data-char="‌"] + .char::before,
[dir="rtl"] .splitting .char:has(+ span.char[data-char="‌"])::after {
  content: "";
}
